body .main-conatiner .img-background {
    background-image: 
    linear-gradient(
      rgba(25, 209, 231, 0.7),
      rgba(243, 17, 224, 0.7)
    ),
    url(../img/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
