header
    width: 100%
    height: 70vh
    background-size: cover
    background-position: center
    overflow: hidden
    nav
        height: 70px
        width: 100%
        background: rgba(#ffffff, 0.9 )
        display: flex
        align-items: center
        justify-content: space-evenly
        position: fixed
        box-shadow: 0 0 10px 0 rgba(#000000,0.5 )
        z-index: 100
        transition: ease-in-out 0.5s
        .logo
            height: 100%
            flex-grow: 3
            margin-left: 80px
            img
                object-fit: cover
                height: inherit

        .menu-carrito
            cursor: pointer
            ul
                list-style: none
                .submenu
                    position: relative
                    left: 150%
                    #carrito
                        display: none
                .submenu 
                    &:hover #carrito
                        display: block
                        position: absolute
                        right: 0
                        top: 100%
                        z-index: 1
                        background-color: white
                        padding: 20px
                        min-height: 400px
                        min-width: 300px

        .login-logo
            display: none

        .contenedor-menu
            width: 40%
            height: 100%
            display: flex
            align-items: center
            justify-content: space-around
            .enlaces
                width: 55%
                display: flex
                justify-content: space-between
                li
                    list-style: none
                    a
                        padding: 10px
                        background: #022C6B
                        color: #ffffff
                        text-decoration: none
                        font-size: 14px
                        border-radius: 6px
                        letter-spacing: 2px
                        display: inline-block
                        font-family: Roboto, 'Open Sans', sans-serif, 'Helvetica Neue'

    .textos
        text-align: center
        color: #ffffff
        margin-top: 150px
        display: flex
        flex-direction: column
        align-items: center
        h1
            font-size: 60px
            letter-spacing: 3px
            font-weight: 600
            text-transform: uppercase
            margin-bottom: 10px
        h2
            font-size: 30px
            font-weight: 600
            letter-spacing: 2px
