header
    width: 100%
    height: 700px
    background-size: cover
    background-position: center
    overflow: hidden
    nav
        height: 70px
        background: rgba(#ffffff, 0.8 )
        display: flex
        justify-content: space-between
        .icono
            display: none
        .enlaces
            display: flex
            height: 100%
            width: 30%
            justify-content: space-around
            align-items: center
            margin-right: 80px
            a
                color: #022C6B
                text-decoration: none
                border-top: 2px solid transparent
                border-bottom: 2px solid transparent
                padding: 4px 0
                transition: 0.7 ease-out
                &:hover
                    border-top: 2px solid #022C6B
                    border-bottom: 2px solid #022C6B
        .logo
            height: 100%
            margin-left: 80px
            img 
                object-fit: cover
                height: inherit
    .textos
        text-align: center
        color: #ffffff
        margin-top: 150px
        display: flex
        flex-direction: column
        align-items: center
        h1 
            font-size: 60px
            letter-spacing: 3px
            font-weight: 600
            text-transform: uppercase
            margin-bottom: 10px
        h2 
            font-size: 30px
            font-weight: 600
            letter-spacing: 2px

