@media screen and ( max-width: 950px  )
    body
        header
            height: 400px
            nav
                z-index: 100
                .icono
                    display: flex
                    justify-content: center
                    font-size: 23px
                    height: 50px
                    align-items: center
                    color: #022C6B
                    padding: 15px
                    z-index: 100
                    cursor: pointer
                    margin-right: 40px
                    border-radius: 10px
                    box-shadow: 0 0 6px rgba(#000000, 0.5 )
                    position: relative
                    top: 10px
                .enlaces
                    width: 100%
                    position: fixed
                    height: 100vh
                    right: 0
                    display: flex
                    align-items: center
                    justify-content: space-evenly
                    flex-direction: column
                    transition: all 1s ease
                    background: #ffffff
                    margin-right: 0
                .uno
                    clip-path: circle(0% at 100% 0%)
                .dos
                    clip-path: circle(150% at 100% 0%)
            .textos
                text-align: center
                display: inline
                position: relative
                top: 100px
                h1
                    font-size: 30px
                h2
                    padding: 10px
                    font-size: 20px
        .contenedor
            height: 500px
            .slider-contenedor
                .contenido-slider
                    height: 600px
                    img
                        max-width: 250px
                    div
                        width: 40%
                        h3
                            font-size: 30px
        .contenedor2
            height: 500px
            .about
                height: 600px
                div
                    width: 40%
                img
                    max-width: 250px
        .testimonios
            h3
                width: 100%
                font-size: 35px
            .contenedor-test
                flex-direction: column
                align-items: center
                .test
                    width: 80%
                    .contenido-test
                        p
                            font-size: 14px
                            text-align: left

@media screen and ( max-width: 655px )
    body
        header
            height: 400px
            nav
                .logo
                    margin-left: 20px
                .icono
                    margin-right: 20px
                .enlaces
                    div
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        letter-spacing: 50px
            .textos
                text-align: center
                h1
                    font-size: 25px
                h2
                    padding: 10px
                    font-size: 14px
        .contenedor
            height: 400px
            .slider-contenedor
                .contenido-slider
                    flex-direction: column
                    align-items: center
                    flex-shrink: 1
                    img
                        max-width: 210px
                    div
                        width: 100%
                        display: flex
                        flex-direction: column
                        align-items: center
                        justify-content: space-between
                        h3
                            min-width: 250px
                            font-size: 30px
                            text-align: center
                        p
                            font-size: 14px
                            text-align: center
                            min-width: 250px
                            font-family: Roboto, 'Open Sans', sans-serif, 'Helvetica Neue'
                        a
                            font-size: 14px
                            min-width: 250px
                            letter-spacing: 2px
                            font-family: Roboto, 'Open Sans', sans-serif, 'Helvetica Neue'
                            text-transform: uppercase
        .contenedor2
            height: 400px
            width: 414px
            .about
                flex-direction: column
                align-items: center
                justify-content: center
                div
                    width: 100%
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: space-between
                    h3
                        min-width: 250px
                        font-size: 30px
                        text-align: center
                    p
                        font-size: 14px
                        text-align: center
                        min-width: 250px
                        font-family: Roboto, 'Open Sans', sans-serif, 'Helvetica Neue'
                img
                    max-width: 210px

        footer
            .social-media
                padding: 15px 0
                .container
                    a
                        font-size: 22px
                        margin: 0 10px
            p
                margin-bottom: 5px
                a
                    font-size: 13px
