@media screen and ( max-width: 1415px  )
    body
        header
            height: 400px
            nav
                z-index: 100
                justify-content: space-between

                .logo
                    flex-grow: 0
                    margin-left: 40px

                .login-logo
                    display: inline-block
                    font-size: 30px
                    color: #022C6B
                    margin-right: 40px
                    cursor: pointer

                .contenedor-menu
                    width: 45%
                    position: absolute
                    right: 0px
                    height: 6.1vh
                    top: 5vh
                    background: #ffffff
                    align-items: flex-start
                    transform: translateX(100%)
                    transition: transform 0.5s ease-in
                    .enlaces
                        width: 100%
                        flex-direction: column
                        li
                            width: 100%
                            border-bottom: 2px solid #020202
                            a
                                width: 100%
                                background: #ffffff
                                color: #022C6B
                                font-size: 18px
                                border-radius: 0px
                                &:hover
                                    background: #022C6B
                                    color: #ffffff

            .textos
                text-align: center
                display: inline
                position: relative
                top: 100px
                h1
                    font-size: 30px
                h2
                    padding: 10px
                    font-size: 20px
        .contenedor
            height: 500px
            .slider-contenedor
                .contenido-slider
                    height: 600px
                    img
                        max-width: 250px
                    div
                        width: 40%
                        h3
                            font-size: 30px
        .contenedor2
            height: 500px
            .about
                height: 600px
                div
                    width: 40%
                img
                    max-width: 250px
        .testimonios
            h3
                width: 100%
                font-size: 35px
            .contenedor-test
                flex-direction: column
                align-items: center
                .test
                    width: 80%
                    .contenido-test
                        p
                            font-size: 14px
                            text-align: left

@media screen and ( max-width: 769px )
    body
        header
            height: 400px
            nav
                .contenedor-menu
                    width: 60%
                    height: 6.1vh
                    top: 6.8vh
                    background: #ffffff

@media screen and ( max-width: 655px )
    body
        header
            height: 400px
            nav
                .menu-carrito
                    cursor: pointer
                    ul
                        list-style: none
                        .submenu
                            position: relative
                            left: 150%
                            #carrito
                                display: none
                        .submenu
                            &:hover #carrito
                                display: inline-block
                                position: absolute
                                right: -86px
                                top: 117%
                                z-index: 1
                                background-color: white
                                padding: 10px
                                min-height: 400px
                                min-width: 300px
                                width: 373px
                        a
                            width: 100%
                            box-sizing: border-box
                            display: inline-block
                            height: 38px
                            padding: 0 30px
                            color: #555
                            text-align: center
                            font-size: 11px
                            font-weight: 600
                            line-height: 38px
                            letter-spacing: .1rem
                            text-transform: uppercase
                            text-decoration: none
                            white-space: nowrap
                            background-color: transparent
                            border-radius: 4px
                            border: 1px solid #bbb
                            cursor: pointer

                .contenedor-menu
                    width: 60%
                    height: 6.1vh
                    top: 8.6vh
                    background: #ffffff
                    .enlaces
                        width: 100%
                        flex-direction: column
                        li
                            width: 100%
                            border-bottom: 2px solid #020202
                            a
                                width: 100%
                                background: #ffffff
                                color: #020202
                                font-size: 18px
                                border-radius: 0px
            .textos
                text-align: center
                h1
                    font-size: 25px
                h2
                    padding: 10px
                    font-size: 14px
        .contenedor
            height: 400px
            .slider-contenedor
                .contenido-slider
                    flex-direction: column
                    align-items: center
                    flex-shrink: 1
                    img
                        max-width: 210px
                    div
                        width: 100%
                        display: flex
                        flex-direction: column
                        align-items: center
                        justify-content: space-between
                        h3
                            min-width: 250px
                            font-size: 30px
                            text-align: center
                        p
                            font-size: 14px
                            text-align: center
                            min-width: 250px
                            font-family: Roboto, 'Open Sans', sans-serif, 'Helvetica Neue'
                        a
                            font-size: 14px
                            min-width: 250px
                            letter-spacing: 2px
                            font-family: Roboto, 'Open Sans', sans-serif, 'Helvetica Neue'
                            text-transform: uppercase
        .contenedor2
            height: 400px
            width: 414px
            .about
                flex-direction: column
                align-items: center
                justify-content: center
                div
                    width: 100%
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: space-between
                    h3
                        min-width: 250px
                        font-size: 30px
                        text-align: center
                    p
                        font-size: 14px
                        text-align: center
                        min-width: 250px
                        font-family: Roboto, 'Open Sans', sans-serif, 'Helvetica Neue'
                img
                    max-width: 210px

        footer
            .social-media
                padding: 15px 0
                .container
                    a
                        font-size: 22px
                        margin: 0 10px
            p
                margin-bottom: 5px
                a
                    font-size: 13px
