@media screen and ( max-width: 1370px  )
    body
        .header-container
            height: 400px
            .nav
                .nav__logo
                    margin-left: 40px
                .nav__carrito
                    .nav__carrito--img
                        margin-top: 17%
                    .carrito-menu
                        right: 65px

        .contenedor
            height: 500px
            .slider-contenedor
                .contenido-slider
                    height: 600px
                    img
                        max-width: 250px
                    div
                        width: 40%
                        h3
                            font-size: 30px
        .contenedor2
            height: 500px
            .about
                height: 600px
                div
                    width: 40%
                img
                    max-width: 250px
        .testimonios
            h3
                width: 100%
                font-size: 35px
            .contenedor-test
                flex-direction: column
                align-items: center
                .test
                    width: 80%
                    .contenido-test
                        p
                            font-size: 14px
                            text-align: left

@media screen and ( max-width: 769px )
    body
        .header-container
            height: 400px
            .nav
                .nav__logo
                    margin-left: 40px
                .nav__carrito
                    height: 60%
                    .nav__carrito--img
                        margin-top: 3%
                    .carrito-menu
                        right: -51px
                        margin-top: 15%
                        .carrito-menu__lista
                            .lista-contenedor
                                .lista-contenedor__fila
                                    .lista-contenedor__fila--celda
                                        padding: 12px 11px
                .nav__menu
                    .nav__menu--profile
                        ul
                            margin: 130px 0px 0px 3px

@media screen and ( max-width: 416px )
    body
        .header-container
            .nav
                .nav__logo
                    margin-left: 20px
                .nav__carrito
                    height: 48%
                    right: 8px
                    .carrito-menu
                        right: -120px
                        margin-top: 45%
                        .carrito-menu__lista
                            .lista-contenedor
                                .lista-contenedor__fila
                                    .lista-contenedor__fila--celda
                                        padding: 12px 5px
                .nav__menu
                    margin-right: 20px
                    margin-top: 6%
        .contenedor
            height: 400px
            .slider-contenedor
                .contenido-slider
                    flex-direction: column
                    align-items: center
                    flex-shrink: 1
                    img
                        max-width: 210px
                    div
                        width: 100%
                        display: flex
                        flex-direction: column
                        align-items: center
                        justify-content: space-between
                        h3
                            min-width: 250px
                            font-size: 30px
                            text-align: center
                        p
                            font-size: 14px
                            text-align: center
                            min-width: 250px
                            font-family: Roboto, 'Open Sans', sans-serif, 'Helvetica Neue'
                        a
                            font-size: 14px
                            min-width: 250px
                            letter-spacing: 2px
                            font-family: Roboto, 'Open Sans', sans-serif, 'Helvetica Neue'
                            text-transform: uppercase
        .contenedor2
            height: 400px
            width: 414px
            .about
                flex-direction: column
                align-items: center
                justify-content: center
                div
                    width: 100%
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: space-between
                    h3
                        min-width: 250px
                        font-size: 30px
                        text-align: center
                    p
                        font-size: 14px
                        text-align: center
                        min-width: 250px
                        font-family: Roboto, 'Open Sans', sans-serif, 'Helvetica Neue'
                img
                    max-width: 210px

        footer
            .social-media
                padding: 15px 0
                .container
                    a
                        font-size: 22px
                        margin: 0 10px
            p
                margin-bottom: 5px
                a
                    font-size: 13px
